/* Classes CSS */
:root {
  --teal: #05766c;
  --purple: #5b007a;
  --dark-background: #17151c;
  --dark-matte-yellow: #758083;
}

.classes-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.89; /* Adjusted opacity for better readability */
}

.class-section {
  background-color: var(--teal); /* Changed background color to teal */
  border: 1px solid var(--teal); /* Matched border color to background color */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px var(--teal); /* Adjusted box shadow color */
}

.class-section h2 {
  color: var(--purple); /* Changed color to purple */
  margin-bottom: 10px;
}

.class-boxing,
.class-thai,
.class-mma,
.class-wrestling,
.class-bjj,
.class-gym,
.class-mma,
.class-black {
  background-color: var(--dark-background);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid var(--teal); /* Matched border color to teal */
  width: 45vh;
  height: 45vh;
  background-size: contain;
  font-size: xx-large;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Softened text shadow */
}

.class-wrestling,
.class-bjj,
.class-gym,
.class-black {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Softened text shadow */
  font-size: xx-large;
}

/* Adjust styles for smaller screens if needed */
@media only screen and (max-width: 600px) {
  .class-section {
    padding: 15px;
  }
}
