/* Hero Section CSS */
.hero-section {
  background-image: url("../../public/images/ronin1.png"); /* Add your image path here */
  background-size: cover;
  background-position: top center;
  color: var(--red);
  text-align: center;
  padding: 100px 0; /* Adjust the padding as needed */
}

/* .hero-content {
    max-width: 800px;
    margin: 0 auto;
  } */

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 1px;
  text-shadow: 2px 1px 1px grey;
  color: #6359;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 2px 1px 1px #6359;
}

/* Adjust styles for smaller screens if needed */
@media only screen and (max-width: 600px) {
  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 16px;
  }
}
/* Hero Section 2 CSS */
.hero-section2 {
  background-image: url("../../public/images/ronin1.png"); /* Add your second image path here */
  background-size: cover;
  background-position: bottom;
  color: var(--dark-matte-yellow);
  text-align: center;
  padding: 100px 0; /* Adjust the padding as needed */
}

.hero-content2 {
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 2px 1px 1px #6359;
}

.hero-content2 h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 1px 1px #6359;
}

.hero-content2 p {
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 2px 1px 1px #6359;
}

/* Adjust styles for smaller screens if needed */
@media only screen and (max-width: 600px) {
  .hero-content2 h1 {
    font-size: 28px;
  }

  .hero-content2 p {
    font-size: 16px;
  }
}
