:root {
  --primary-color: #17151c; /* Dark Red */
  --secondary-color: #7c67b1; /* Dark Red */
  --accent-color: #ffea00; /* Yellow */
  --background-color: #812020; /* White */
  --table-background: #17151c; /* Dark Red */
  --table-border: #17151c; /* Dark Red */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

/* Header */
.mma-timetable-header {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1rem;
  text-align: center;
}

/* Main Content */
.mma-timetable-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Footer */
.mma-timetable-footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1rem;
  text-align: center;
}

/* Table */
.mma-timetable-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: var(--table-background);
  border: 1px solid var(--table-border);
}

.mma-timetable-container th,
.mma-timetable-container td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid var(--table-border);
  color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
}

.mma-timetable-container th {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
  .mma-timetable-container table,
  .mma-timetable-container thead,
  .mma-timetable-container tbody,
  .mma-timetable-container th,
  .mma-timetable-container td,
  .mma-timetable-container tr {
    display: block;
  }

  .mma-timetable-container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .mma-timetable-container tr {
    border: 1px solid var(--table-border);
  }

  .mma-timetable-container td {
    border: none;
    border-bottom: 1px solid var(--table-border);
    position: relative;
    padding-left: 50%;
  }

  .mma-timetable-container td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .mma-timetable-container td:nth-of-type(1):before {
    content: 'Day';
  }
  .mma-timetable-container td:nth-of-type(2):before {
    content: 'Time';
  }
  .mma-timetable-container td:nth-of-type(3):before {
    content: 'Class';
  }
}

/* Additional Styling for Modern Look */
.mma-timetable-container table {
  border: 1px solid var(--table-border);
  box-shadow: 0 0 5px var(--table-border);
}

.mma-timetable-container th,
.mma-timetable-container td {
  background-color: var(--table-background);
  color: var(--accent-color);
}

.mma-timetable-container th {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.mma-timetable-container td {
  border-bottom: 1px solid var(--table-border);
}