/* Global CSS */
:root {
  --dark-red: #8b0000;
  --dark-background: #17151c;
  --dark-matte-yellow: #b3a375;

  --background-color: #812020; /* White */
  --table-background: #460707; /* Dark Red */
  --table-border: #17151c; /* Dark Red */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-background);
  color: var(--dark-matte-yellow);
  margin: 0;
  padding: 0;
  
}

/* Header */
.header {
  background-color: var(--dark-red);
  color: var(--dark-matte-yellow);
  padding: 1rem;
  text-align: center;
  font-size: 24px;
}

/* Navigation */
.navigation {
  background-color: var(--dark-background);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-shadow: 2px 1px 1px #460707;

}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation a {
  display: block;
  color: var(--dark-matte-yellow);
  text-decoration: none;
  padding: 10px;
}

.navigation a:hover {
  background-color: var(--dark-red);
}

/* Main Content */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Footer */
.footer {
  background-color: var(--dark-red);
  color: var(--dark-matte-yellow);
  padding: 1rem;
  text-align: center;
}

/* Table */
.mma-timetable-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: var(--table-background);
  border: 1px solid var(--table-border);
}

.mma-timetable-container th,
.mma-timetable-container td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid var(--table-border);
  color: var(--dark-matte-yellow);
  font-weight: bold;
  font-size: 18px;
  text-shadow: 2px 1px 1px rgb(151, 104, 104);
}

.mma-timetable-container th {
  background-color: var(--dark-background);
  color: var(--dark-matte-yellow);
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
  .mma-timetable-container table,
  .mma-timetable-container thead,
  .mma-timetable-container tbody,
  .mma-timetable-container th,
  .mma-timetable-container td,
  .mma-timetable-container tr {
    display: block;
  }

  .mma-timetable-container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .mma-timetable-container tr {
    border: 1px solid var(--table-border);
  }

  .mma-timetable-container td {
    border: none;
    border-bottom: 1px solid var(--table-border);
    position: relative;
    padding-left: 50%;
  }

  .mma-timetable-container td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .mma-timetable-container td:nth-of-type(1):before {
    content: 'Day';
  }
  .mma-timetable-container td:nth-of-type(2):before {
    content: 'Time';
  }
  .mma-timetable-container td:nth-of-type(3):before {
    content: 'Class';
  }

  /* Additional Styling for Modern Look */
  .mma-timetable-container table {
    border: 1px solid var(--table-border);
    box-shadow: 0 0 5px var(--table-border);
  }

  .mma-timetable-container th,
  .mma-timetable-container td {
    background-color: var(--table-background);
    color: var(--dark-matte-yellow);
  }

  .mma-timetable-container th {
    background-color: var(--dark-red);
    color: var(--dark-matte-yellow);
  }

  .mma-timetable-container td {
    border-bottom: 1px solid var(--table-border);
  }
}
/* Navbar CSS */
.navbar {
  background-color: var(--dark-red);
  color: var(--dark-matte-yellow);
  padding: 1rem;
  text-shadow: 2px 1px 1px #460707;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  text-decoration: none;
  color: var(--dark-matte-yellow);
  text-shadow: 2px 1px 1px #460707;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-matte-yellow);
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 1px 1px #460707;

}

.nav-link:hover {
  color: var(--dark-background);
  background-color: var(--dark-red);
  text-shadow: 2px 1px 1px #431414;

}
