/* Global CSS */
:root {
  --dark-red: #8b0000;
  --dark-background: #17151c;
  --dark-matte-yellow: #b3a375;

  --background-color: #812020; /* White */
  --table-background: #460707; /* Dark Red */
  --table-border: #17151c; /* Dark Red */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-background);
  color: var(--dark-matte-yellow);
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: var(--dark-red);
  color: var(--dark-matte-yellow);
  padding: 1rem;
  text-align: center;
  font-size: 24px;
}

/* Navigation */
.navigation {
  background-color: var(--dark-background);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-shadow: 2px 1px 1px #460707;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation a {
  display: block;
  color: var(--dark-matte-yellow);
  text-decoration: none;
  padding: 10px;
}

.navigation a:hover {
  background-color: var(--dark-red);
}

/* Main Content */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Footer */
.footer {
  background-color: var(--dark-red);
  color: var(--dark-matte-yellow);
  padding: 1rem;
  text-align: center;
}


/* Navbar CSS */
.navbar {
  background-color: var(--dark-red);
  color: var(--dark-matte-yellow);
  padding: 1rem;
  text-shadow: 2px 1px 1px #460707;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  text-decoration: none;
  color: var(--dark-matte-yellow);
  text-shadow: 2px 1px 1px #460707;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-matte-yellow);
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 1px 1px #460707;
}

.nav-link:hover {
  color: var(--dark-background);
  background-color: var(--dark-red);
  text-shadow: 2px 1px 1px #431414;
}
